@charset "UTF-8";

// ------------------------------------------
// Aria Controls
// ------------------------------------------

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

