@charset "UTF-8";

// ---------------------------------------------------
// Google Material Color Palette
// @link https://material-ui.com/style/color/#color-palette
// --------------------------------------------------- 

// Gray 
$mc__gray-50: #FAFAFA;
$mc__gray-100: #F5F5F5;
$mc__gray-200: #EEEEEE;
$mc__gray-300: #E0E0E0;
$mc__gray-400: #BDBDBD;
$mc__gray-500: #9E9E9E;
$mc__gray-600: #757575;
$mc__gray-700: #616161;
$mc__gray-800: #424242;
$mc__gray-900: #212121;	

//Red
$mc__red-50: #FFEBEE;
$mc__red-100: #FFCDD2;
$mc__red-200: #EF9A9A;
$mc__red-300: #E57373;
$mc__red-400: #EF5350;
$mc__red-500: #e51c23;
$mc__red-600: #E53935;
$mc__red-700: #D32F2F;
$mc__red-800: #C62828;
$mc__red-900: #B71C1C;

$mc__red-a100: #FF8A80;
$mc__red-a200: #ff5177;
$mc__red-a400: #FF1744;
$mc__red-a700: #D50000;


// Pink
$mc__pink-50: #FCE4EC;
$mc__pink-100: #F8BBD0;
$mc__pink-200: #F48FB1;
$mc__pink-300: #F06292;
$mc__pink-400: #EC407A;
$mc__pink-500: #E91E63;
$mc__pink-600: #D81B60;
$mc__pink-700: #C2185B;
$mc__pink-800: #AD1457;
$mc__pink-900: #880E4F;

$mc__pink-a100: #FF80AB;
$mc__pink-a200: #ff4081;
$mc__pink-a400: #F50057;	
$mc__pink-a700: #C51162;


// Purple
$mc__purple-50: #F3E5F5;
$mc__purple-100: #E1BEE7;
$mc__purple-200: #CE93D8;
$mc__purple-300: #BA68C8;
$mc__purple-400: #AB47BC;
$mc__purple-500: #9c27b0;
$mc__purple-600: #8E24AA;
$mc__purple-700: #7B1FA2;
$mc__purple-800: #6A1B9A;
$mc__purple-900: #4A148C;

$mc__purple-a100: #EA80FC;
$mc__purple-a200: #e040fb;
$mc__purple-a400: #D500F9;
$mc__purple-a700: #AA00FF;

// Deep Purple
$mc__dp-purple-50: #EDE7F6;
$mc__dp-purple-100: #D1C4E9;
$mc__dp-purple-200: #B39DDB;
$mc__dp-purple-300: #9575CD;
$mc__dp-purple-500: #673AB7;
$mc__dp-purple-600: #5E35B1;
$mc__dp-purple-700: #512DA8;
$mc__dp-purple-800: #4527A0;
$mc__dp-purple-900: #311B92;

$mc__dp-purple-a100: #B388FF;
$mc__dp-purple-a200: #7c4dff;
$mc__dp-purple-a400: #651FFF;
$mc__dp-purple-a700: #6200EA;	

// Indigo
$mc__indigo-50: #E8EAF6;
$mc__indigo-100: #C5CAE9;
$mc__indigo-200: #9FA8DA;
$mc__indigo-300: #7986CB;
$mc__indigo-400: #5C6BC0;
$mc__indigo-500: #3F51B5;
$mc__indigo-600: #3949AB;
$mc__indigo-700: #303F9F;
$mc__indigo-800: #283593;
$mc__indigo-900: #1A237E;

$mc__indigo-a100: #8C9EFF;
$mc__indigo-a200: #536DFE;
$mc__indigo-a400: #3D5AFE;
$mc__indigo-a700: #304FFE;

// Blue
$mc__blue-50: #E3F2FD;
$mc__blue-100: #BBDEFB;
$mc__blue-200: #90CAF9;
$mc__blue-300: #64B5F6;
$mc__blue-400: #42A5F5;
$mc__blue-500: #2196F3;
$mc__blue-600: #1E88E5;
$mc__blue-700: #1976D2;
$mc__blue-800: #1565C0;
$mc__blue-900: #0D47A1;

$mc__blue-a100: #82B1FF;
$mc__blue-a200: #448AFF;
$mc__blue-a400: #2979FF;
$mc__blue-a700: #2962FF;

// Light Blue
$mc__lt-blue-50: #E1F5FE;
$mc__lt-blue-100: #B3E5FC;
$mc__lt-blue-200: #81D4FA;
$mc__lt-blue-300: #4FC3F7;
$mc__lt-blue-400: #29B6F6;
$mc__lt-blue-500: #03A9F4;
$mc__lt-blue-600: #039BE5;
$mc__lt-blue-700: #0288D1;
$mc__lt-blue-800: #0277BD;
$mc__lt-blue-900: #01579B;

$mc__lt-blue-a100: #80D8FF;
$mc__lt-blue-a200: #40C4FF;
$mc__lt-blue-a400: #00B0FF;
$mc__lt-blue-a700: #0091EA;

// Cyan
$mc__cyan-50: #E0F7FA;
$mc__cyan-100: #B2EBF2;
$mc__cyan-200: #80DEEA;
$mc__cyan-300: #4DD0E1;
$mc__cyan-400: #26C6DA;
$mc__cyan-500: #00BCD4;
$mc__cyan-600: #00ACC1;
$mc__cyan-700: #0097A7;
$mc__cyan-800: #00838F;
$mc__cyan-900: #006064;	

$mc__cyan-a100: #84FFFF;
$mc__cyan-a200: #18FFFF;
$mc__cyan-a400: #00E5FF;
$mc__cyan-a700: #00B8D4;

// Teal
$mc__teal-50: #E0F2F1;
$mc__teal-100: #B2DFDB;
$mc__teal-200: #80CBC4;
$mc__teal-300: #4DB6AC;
$mc__teal-400: #26A69A;
$mc__teal-500: #009688;
$mc__teal-600: #00897B;
$mc__teal-700: #00796B;
$mc__teal-800: #00695C;
$mc__teal-900: #004D40;

$mc__teal-a100: #A7FFEB;
$mc__teal-a200: #64FFDA;
$mc__teal-a400: #1DE9B6;
$mc__teal-a700: #00BFA5;

// Green
$mc__green-50: #E8F5E9;
$mc__green-100: #C8E6C9;
$mc__green-200: #A5D6A7;
$mc__green-300: #81C784;
$mc__green-400: #66BB6A;
$mc__green-500: #4CAF50;
$mc__green-600: #43A047;
$mc__green-700: #388E3C;
$mc__green-800: #2E7D32;
$mc__green-900: #1B5E20;	

$mc__green-a100: #B9F6CA;
$mc__green-a200: #69F0AE;
$mc__green-a400: #00E676;
$mc__green-a700: #00C853;

// Light Green
$mc__lt-green-50: #F1F8E9;
$mc__lt-green-100: #DCEDC8;
$mc__lt-green-200: #C5E1A5;
$mc__lt-green-300: #AED581;
$mc__lt-green-400: #9CCC65;
$mc__lt-green-500: #8BC34A;
$mc__lt-green-600: #7CB342;
$mc__lt-green-700: #689F38;
$mc__lt-green-800: #558B2F;
$mc__lt-green-900: #33691E;	

$mc__lt-green-a100: #CCFF90;
$mc__lt-green-a200: #B2FF59;
$mc__lt-green-a400: #76FF03;
$mc__lt-green-a700: #64DD17;

// Lime
$mc__lime-50: #F9FBE7;
$mc__lime-100: #F0F4C3;
$mc__lime-200: #E6EE9C;
$mc__lime-300: #DCE775;
$mc__lime-400: #D4E157;
$mc__lime-500: #CDDC39;
$mc__lime-600: #C0CA33;
$mc__lime-700: #AFB42B;
$mc__lime-800: #9E9D24;
$mc__lime-900: #827717;

$mc__lime-a100: #F4FF81;
$mc__lime-a200: #EEFF41;
$mc__lime-a400: #C6FF00;
$mc__lime-a700: #AEEA00;

// Yellow
$mc__yellow-50: #FFFDE7;
$mc__yellow-100: #FFF9C4;
$mc__yellow-200: #FFF59D;
$mc__yellow-300: #FFF176;
$mc__yellow-400: #FFEE58;
$mc__yellow-500: #FFEB3B;
$mc__yellow-600: #FDD835;
$mc__yellow-700: #FBC02D;
$mc__yellow-800: #F9A825;
$mc__yellow-900: #F57F17;	

$mc__yellow-a100: #FFFF8D;
$mc__yellow-a200: #FFFF00;
$mc__yellow-a400: #FFEA00;
$mc__yellow-a700: #FFD600;

// Amber
$mc__amber-50: #FFF8E1;
$mc__amber-100: #FFECB3;
$mc__amber-200: #FFE082;
$mc__amber-300: #FFD54F;
$mc__amber-400: #FFCA28;
$mc__amber-500: #FFC107;
$mc__amber-600: #FFB300;
$mc__amber-700: #FFA000;
$mc__amber-800: #FF8F00;
$mc__amber-900: #FF6F00;	

$mc__amber-a100: #FFE57F;
$mc__amber-a200: #FFD740;
$mc__amber-a400: #FFC400;
$mc__amber-a700: #FFAB00;

// Orange
$mc__orange-50: #FFF3E0;
$mc__orange-100: #FFE0B2;
$mc__orange-200: #FFCC80;
$mc__orange-300: #FFB74D;
$mc__orange-400: #FFA726;
$mc__orange-500: #FF9800;
$mc__orange-600: #FB8C00;
$mc__orange-700: #F57C00;
$mc__orange-800: #EF6C00;
$mc__orange-900: #E65100;

$mc__orange-a100: #FFD180;
$mc__orange-a200: #FFAB40;
$mc__orange-a400: #FF9100;
$mc__orange-a700: #FF6F00;

// Deep Orange
$mc__dp-orange-50: #FBE9E7;
$mc__dp-orange-100: #FFCCBC;
$mc__dp-orange-200: #FFAB91;
$mc__dp-orange-300: #FF8A65;
$mc__dp-orange-400: #FF7043;
$mc__dp-orange-500: #FF5722;
$mc__dp-orange-600: #F4511E;
$mc__dp-orange-700: #E64A19;
$mc__dp-orange-800: #D84315;
$mc__dp-orange-900: #BF360C;	

$mc__dp-orange-a100: #FF9E80;
$mc__dp-orange-a200: #FF6E40;
$mc__dp-orange-a400: #FF3D00;
$mc__dp-orange-a700: #DD2C00;	

// Brown
$mc__brown-50: #EFEBE9;
$mc__brown-100: #D7CCC8;
$mc__brown-200: #BCAAA4;
$mc__brown-300: #A1887F;
$mc__brown-400: #8D6E63;
$mc__brown-500: #795548;
$mc__brown-600: #6D4C41;
$mc__brown-700: #5D4037;
$mc__brown-800: #4E342E;
$mc__brown-900: #3E2723;	

// Blue Gray
$mc__blue-gray-50: #ECEFF1;
$mc__blue-gray-100: #CFD8DC;
$mc__blue-gray-200: #B0BEC5;
$mc__blue-gray-300: #90A4AE;
$mc__blue-gray-400: #78909C;
$mc__blue-gray-500: #607D8B;
$mc__blue-gray-600: #546E7A;
$mc__blue-gray-700: #455A64;
$mc__blue-gray-800: #37474F;
$mc__blue-gray-900: #263238;
