@charset "UTF-8";
// -----------------------------------------
// @link https://brandcolors.net/ 
// -----------------------------------------

// Social
$c__facebook: #3b5998;
$c__twitter: #1DA1F2;
$c__youtube: #ff0000;
$c__pinterest: #E60023;
$c__instagram: #e1306c;

// Professional
$c__linkedin: #0077B5;
$c__codepen: #ae63e4; // #0ebeff #ae63e4 #47cf73
$c__github: #6cc644;
$c__jsfiddle: #F0D84F;

// Affiliations
$c__etsy: #d5641c;
$c__amazon: #ff9900;
$c__cheap: #03FFFF;
$c__offer: #0AFF74;
$c__favorite: #FFD600;
$c__manufacturer: #9B30FF;

// Browsers
$c__chrome: #DD5144;
$c__safari: #FF5251;
$c__firefox: #e66000;
$c__edge: #0078D7;

// Operating System
$c__macOS: #4ed4b3;
$c__iOS: #fd9426;
$c__windows: #0078d7;
$c__android: #a4c639;

// Technical 
$c__sass: #c69;
$c__css: #2965F1;
$c__html: #E44D26;
$c__php: #777BB3;
$c__js: #F0D84F;

$c__illustrator: #FF7C00;
$c__photoshop: #32C6F0;
$c__inkscape: #424242;

$c__wordpress: #d54e21; // #21759b
$c__flywheel: #51bb7b; // #50c6db
$c__font-awesome: #228ae6;


