// Gray 
$mc__gray-50: #FAFAFA;
$mc__gray-100: #F5F5F5;
$mc__gray-200: #EEEEEE;
$mc__gray-300: #E0E0E0;
$mc__gray-400: #BDBDBD;
$mc__gray-500: #9E9E9E;
$mc__gray-600: #757575;
$mc__gray-700: #616161;
$mc__gray-800: #424242;
$mc__gray-900: #212121;	

// From Palette
$a: #03FFB8; // link hover
$b: #03BDFF;
$c: #FD74D8;
$d: #CF7DFF;
$e: #0AFF74;
$f: #03FFFF;
$g: #FF5049;
$h: #400AFF; 
$i: #6200EA; // original hover

// Primary
$color__primary: #1f3044;
$color__primary-lt: #264D5C;
$color__secondary: #000000;
$color__alt: #AA00FF;

// Links
$color__link: $color__alt; 
$color__link-h: #03FFB8;
$color__focus: #03FFB8;

// Buy Buttons
$color__favorite: #FFD600;
$color__manufacturer: #FF5049;
$color__cheap: #03FFFF;
$color__offer: #0AFF74;
// $color__cheap: #00E5FF;
// $color__offer: #64DD17;
$color__amazon: #FF9900;

// Attributes
$color__true: #64DD17;
$color__false: #D50000;
$color__maybe: #FFAB00;


// Text
$color__text: #FFFFFF;
$color__text-lt: $color__primary-lt;
$color__heading: #ffffff;

// Backgrounds
$bg__body: $color__secondary;
$bg__gradient-dk: $color__secondary;
$bg__gradient-lt: $color__primary;
$bg__header: $color__secondary;
$bg__footer: $color__secondary;

// Content
$bg__content: rgba(#000000, 0.7);
$border__content: 1px dotted $color__primary-lt;
$border-radius: 4px;
$border-radius__card: 0;

// Buttons
$border-radius__button: 6px;
$border__button: 1px solid $color__primary-lt;

// Icons
$border-radius__icon: 100%;
$border__icon: 1px solid $color__primary-lt;

// Inputs
$color__input-text: $mc__gray-700;
$border__input: 1px solid $mc__gray-700;
$border-radius__input: 4px;


// Rainbow
$color__yellow: #FFAB00;
$color__orange: #FF3D00;
$color__pink: #ff4081;
$color__red: #D50000;
$color__purple: #6200EA;
$color__blue: #2979FF;
$color__cyan: #00E5FF;
$color__teal: #1DE9B6;
$color__green: #64DD17;