// 
// @file /sass/typography/_headings.scss
//  


h1,h2,h3,h4,h5,h6 {	
	line-height: 1.125;
	margin: 0;
	padding: 0.5rem 0;
	text-transform: uppercase;
	color: $color__heading;
} 

h1 { 
	@include condensed-700;
	@include font-size(1.424);
}

h2 { 
	@include condensed-400;
	@include font-size(1.266);
}

h3 {
	@include condensed-400;
	@include font-size(1);
}

h4 { 
	@include condensed-400;
	@include font-size(0.89);
}

