// 
// @file /sass/nav/_links.scss
// @this must come after /nav/_nav.scss
//  


a {
	text-decoration: none;
	border: 0;
	outline: 0; // focus set globally
	background: 0;
} // 

a {	
	color: $color__link;

	&:hover, &:active, &:focus {
		color: $color__link-h;
	}	
	&:active, &:focus {
		outline-color: $color__link-h;
	}

}


a.link.white {
	color: #ffffff;
	&:hover, &:active, &:focus {
		color: $color__alt;
	}	
	&:active, &:focus {
		outline-color: $color__alt;
	}		
}

a.link.primary {
	color: $color__primary;
	&:hover, &:active, &:focus {
		color: $color__alt;
	}	
	&:active, &:focus {
		outline-color: $color__alt;
	}			
}

a.link.secondary {
	color: $color__secondary;
	&:hover, &:active, &:focus {
		color: $color__alt;
	}	
	&:active, &:focus {
		outline-color: $color__alt;
	}			
}

a.link.alt {
	color: $color__alt;
	&:hover, &:active, &:focus {
		color: #FFFFFF;
	}	
	&:active, &:focus {
		outline-color: #FFFFFF;
	}			
}	

