// 
// Add To Any
// https://wordpress.org/plugins/add-to-any/
// 
// @this /sass/bits/_share.scss
// Currently matches `.nav--icons.secondary a`
// 


// Required stuff
.addtoany_list a, 
.widget .addtoany_list a {
	line-height: 1 !important;
	// magic number - make this 2x bigger than theme icons
	font-size: 2em !important;	

    &:active, &:focus {
        outline-color: $color__alt;
    }	
}

.a2a_svg { 

	width: 1em !important;
	height: 1em !important;
	line-height: 1em !important;
	border-radius: $border-radius__icon !important;
	border: $border__icon !important; 
	padding: 0.125em !important;
	path {
		fill: currentColor !important;
	}

} //

.addtoany_list a:hover img, 
.addtoany_list a:hover span {
    opacity: 1 !important;
}


// Styles
.a2a_svg { 
	color: 	rgba(#ffffff, 0.85) !important;	
	background: $color__secondary !important;

}

a:hover, a:active, a:focus {
	.a2a_svg { 
		color: #ffffff !important;		
		background: $color__primary !important;
	}
}




