// 
// Archive Pagination
// 


nav.pagination {
    h2.screen-reader-text {}
    ul.page-numbers {}
        li {}
            .page-numbers {}
            span.page-numbers.current {}
            a.page-numbers.next {}
            a.page-numbers.prev {}
}


nav.pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul.page-numbers {
    justify-content: center;
}

span.page-numbers,
a.page-numbers {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.25rem;
    border-radius: $border-radius__icon;
    text-align: center;
    line-height: 1.6rem;
}

// Icons
a.page-numbers {
    border: 1px dotted #264D5C;
    color: rgba(#ffffff, 0.7);    
    background: rgba($color__secondary, 0.7);

    &:hover, &:active, &:focus {
        color: #ffffff;    
        background: $color__primary;
    }
}

span.page-numbers {
    color: #ffffff;    
    background: $color__primary;
}

