// 
// @this /sass/components/_nav-mobile.scss
// @requires /js/AriaModal.js + related
// @related /sass/components/_StickyHeader.scss
// 

// 
//  Modal Classes
// 

div[data-modal-component] {
    button[data-modal-open] {}
    div[data-modal-overlay] {}
        div[data-modal][data-modal-full] {}
            button[data-modal-xButton] {}
            div[data-modal-content] {}
}


// 
// Open Button
// 

#mobile [data-modal-open] {
    display: flex;
    padding: 0.15em;    
    @include font-size(1.802);
    color: #FFFFFF;
    background: none;
    border: none;

    .svg-inline--fa {
        margin-right: 0;
    }

    [data-modal-open-icon-wrap],
    [data-modal-open-icon] {
        height: 1em;
        width: 1em;  
    }

    &::after,
    &:hover, &:active, &:focus {
        background: none;
        border: none;
        color: $color__alt;
    }

} 


//
// Menus layout
//@include
#mobile [data-modal-grid] {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 820px;
    margin: 1rem auto 0 auto;
}


// 
// Individual Menus
// 

#mobile [data-modal-content] {

    nav h2 { 
        margin-bottom: 0.62rem;
        border-bottom: $border__content;
        padding: 0 0 0.125em 0;
    }

    #nav-mobile-01 {}
    #nav-mobile-02 {}
    #nav-mobile-03 {}
    #nav-mobile-04 {}

} // 

