// 
// Common Nav Classes
// 

nav, .nav {
    margin: 0;
    padding: 0;
   
    ul {
        @include condensed-400;
        @include font-size(0.79);
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;        
    }
    li {
        margin: 0;
        padding: 0;
    }
    a {
        display: block;
    }
}


.nav--vertical {
    margin-left: 4px;
    margin-right: 4px;
    ul {flex-direction: column;} 
    a  { padding: 0.25em 0; }
}

.nav--horizontal  {
    ul { flex-direction: row; justify-content: center; }
    a  { padding: 0.27em 0.62em; }
}

a.nav__link {}

li.active a,
a.active {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
}

