@charset "UTF-8";

// --------------------------------------------------
// Audo
// --------------------------------------------------

audio {
	display: inline-block;
	vertical-align: middle;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

