@charset "UTF-8";

// --------------------------------------------------
// Image
// --------------------------------------------------

img {
	max-width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;	
	vertical-align: middle;
}

svg {
	height: 100%;
	width: 100%;
}

figure {
	background-color: $c__base;
	border: $border__content;
	border-radius: $border-radius__content;
	figcaption {
		margin: 0;
		padding: 0.5rem;
		@include font-size(small);
		color: $c__text;
	}
}

