//
// @this /sass/media/_img.scss
// 

 
img {
	max-width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;	
	vertical-align: middle;
}

svg {
	height: 100%;
	width: 100%;
}

// <svg>
.icon {
	display: inline-block;
    font-size: inherit;
	height: 1em;
	width: 1em;
    overflow: visible;
    vertical-align: -.125em;
	fill: currentColor;
}


// The wrapper <span>
.icon-wrap {
    display: inline-block;
    vertical-align: middle;
}

