@charset "UTF-8";

// ---------------------------------------
// attribute
// styles match .meta
// ---------------------------------------

%attribute, 
.attribute {
	// white-space: nowrap; 
	padding: 4px;
	@include font-size;

	i { 
		@include font-size(big);
		margin-right: 4px; 
		width: 1.3em;
		text-align: center;
	}  

	.attribute__value {}
	
} // 

a.attribute {
	@extend %a-color; // +1 optional
	// @extend %a-color-primary;
	// @extend %a-color-secondary;
	// @extend %a-color-alt;
	// @extend %a-color-bright;
	// @extend %a-color-subtle;
} //

.attribute--true {
    color: $c__true; 
}

.attribute--maybe {
    color: $c__maybe;
}

.attribute--false {
    color: $c__false; 
}