//
// Buttons
// @this /sass/components/_button.scss
// 


a.button {}
button.button {}
input.button {}
[type="button"] {}
[type="reset"] {}
[type="submit"] {}



.button {
    @include condensed-700;
    padding: 0.3em 0.5em;
    margin: 6px;
    border: 2px solid;
    text-align: center;

    @media screen and (max-width: 580px) {
        @include font-size(0.9);
    }
}


// 
// Button Varients
// 

.button--cheap {
    color: $color__cheap;
    &:hover, &:active, &:focus {
        color: $color__cheap-h;
    }
}

.button--manufacturer {
    color: $color__manufacturer;
    &:hover, &:active, &:focus {
        color: $color__manufacturer-h;
    }
}

.button--offer {
    color: $color__offer;
    &:hover, &:active, &:focus {
        color: $color__offer-h;
    }
}

.button--amazon {
    color: $color__amazon;
    &:hover, &:active, &:focus {
        color: $color__amazon-h;
    }
}

.button--visit {}

