@charset "UTF-8";

// ----------------------------------------
// @extend button
// ----------------------------------------
%button {
    // cursor: pointer;
    display: inline-flex; 
    align-items: center;   
    margin: 6px;    
    padding: 0.62em;
    font-family: $font-family__sans;
    font-weight: 600;
    @include font-size(small);
    line-height: 1;         
    text-align: center;  
    text-transform: uppercase;   
    text-decoration: none;       
    border: $border__button;  
    border-radius: $border-radius__button; 
    &:hover, &:active, &:focus {
        padding: 0.62em; 
    }  
    &:focus {
        @include focus-big;
    }  
}

%button-after {
    @extend %after-bg;
    @extend %after-swipe-t-b;
	// start 
	transition: transform 2500ms ease-out, color 250ms linear;	
	// hover
	&::after {
		transition: transform 300ms ease-in;	
    }	
    // shared style 
    background: #000000;	
	&:hover, &:active {
		color: #000000 !important;
    }       
}

%button-after-default {
    color: $c__primary;
	&::after {
        background: $c__primary; 
        border-color: $c__primary; 
	}	
}

%button-after-primary {
    color: $c__primary;
    &::after { 
        background: $c__primary; 
        border-color: $c__primary
    }	
}

%button-after-secondary {
    color: $c__secondary;
    &::after { 
        background: $c__secondary;
        border-color: $c__secondary; 
    }	   
}

%button-after-alt {
    color: $c__alt;
    &::after { 
        background: $c__alt;
        border-color: $c__alt; 
    }	  
}

%button-after-white {
    color: #FFFFFF;
    &::after { 
        background: #FFFFFF;
        border-color: #ffffff;
    }	 
}

%button-after-offer {
    color: $c__offer;
    &::after { 
        background: $c__offer;
        border-color: $c__offer; 
    }	  
}


// NO ::after - like, for inputs
%button-bg {
    transition: all 200ms linear;
    background: #000000;
    &:hover, &:active {
        color: #000000 !important;
    }
}

%button-bg-default {
    color: $c__primary;
    &:hover, &:active {
        background: $c__primary;
        border-color: $c__primary;
    }        
}

%button-bg-primary {
    color: $c__primary;
    &:hover, &:active {
        background: $c__primary;
        border-color: $c__primary;
    }       
}

%button-bg-secondary {
    color: $c__secondary;
    &:hover, &:active {
        background: $c__secondary;
        border-color: $c__secondary;
    }       
}

%button-bg-alt {
    color: $c__alt;
    &:hover, &:active {
        background: $c__alt;
        border-color: $c__alt;
    }
}

%button-bg-white {
    color: #FFFFFF;
    &:hover, &:active {
        background: #FFFFFF;
        border-color: #ffffff;
    }
}


// ----------------------------------------
// Button 
// ----------------------------------------
button,
a.button,
button.button {
    @extend %button;
    @extend %button-after; 
    @extend %button-after-default;
    // @extend %button-after-primary;
    // @extend %button-after-secondary;
    // @extend %button-after-alt;
    // @extend %button-after-white;
    // @extend %button-after-offer;
} //

a.button.button--offer {
    @extend %button-after-offer;
    i { margin-right: 4px; }
}


// ----------------------------------------
// Input 
// ----------------------------------------
input.button,
input[type=button],
input[type=reset],
input[type=submit] {
    @extend %button;
    @extend %button-bg; 
    @extend %button-bg-default;
    // @extend %button-bg-primary;
    // @extend %button-bg-secondary;
    // @extend %button-bg-alt;
    // @extend %button-bg-white;
} //


