@charset "UTF-8";

// --------------------------------------------------
// Inputs - Base
// --------------------------------------------------
%input {
    @include font-size();
    color: $c__text-input;
    border: $border__input;
    border-radius: $border-radius__input;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    background: #ffffff;
    margin-top: 0.5rem;    
    margin-bottom: 1rem;
}

%input-bg {
    background-size: 1em 1em;
    background-position: 0.25em;
    background-repeat: no-repeat;    
    padding-left: 1.5em;
}


// --------------------------------------------------
// Labels
// --------------------------------------------------
fieldset {
    @extend %input;
    padding: 0.2rem;
    padding-right: 0.5rem;
}

label, legend {
    @include font-size(small); 
    line-height: 1;
    color: $c__heading;
    text-transform: uppercase;
}

label {
    display: block;    
}

fieldset label {
    display: inline;
    cursor: pointer;
}


// --------------------------------------------------
// Radio + Checkbox
// --------------------------------------------------
[type="radio"],
[type="checkbox"] {
    cursor: pointer;  
}


// --------------------------------------------------
// Inputs with spinners + pickers
// --------------------------------------------------
select {
    @extend %input;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
	height: auto;
	cursor: pointer;
}

[type="date"] {
    @extend %input;
    padding-left: 4px;
}

[type="month"] {
    @extend %input;
    padding-left: 4px;
}

[type="week"] {
    @extend %input;
    padding-left: 4px;
}

[type="time"] {
    @extend %input;
    padding-left: 4px;
}

[type="number"] {
    @extend %input;
    padding-left: 4px;
}


// --------------------------------------------------
// Text inputs 
// --------------------------------------------------
textarea {
    @extend %input;
    cursor: text;
    padding: 0.15rem;
    width: 100%;
    overflow: auto; 
    resize: vertical; 
}

[type="text"] {
    @extend %input;
    cursor: text;
    padding: 0.15em;
}

[type="email"] {
    @extend %input;
    cursor: text;
    padding: 0.15em;
}

[type="password"] {
    @extend %input;
    cursor: text;
    padding: 0.15em;
}

[type="search"] {
    @extend %input;
    cursor: text;
    padding: 0.15em;
	-webkit-appearance: textfield; 
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

[type="tel"] {
    @extend %input;
    cursor: text;
    padding: 0.15em;
}

[type="url"] {
    @extend %input;
    cursor: text;
    padding: 0.15em;
}


// --------------------------------------------------
// Radio + Checkmark - Image Replacement
// --------------------------------------------------
// [type="radio"],
// [type="checkbox"] {
//     cursor: pointer;  
// 	-webkit-appearance: none;
// 	   -moz-appearance: none;
//             appearance: none;
//     font-size: 0.8rem;
//     line-height: 1; 
//     display: inline-flex;   
// 	&::before {
//         content: '';
//         width: 1em;
//         height: 1em;    
//         background-size: 1em 1em;
//         background-position: 0;
//         background-repeat: no-repeat; 
// 	}
// 	&:hover,
// 	&:active,
// 	&:focus {}  
// 	&:checked {}
// } // 


// [type="radio"] {
// 	&:checked {}
// 	&::before {
//         background-image: url(./assets/placeholders/ph.circle.svg);
//     }
// 	&:checked::before {
//         background-image: url(./assets/placeholders/ph.dot.svg);
//     }
// }

// [type="checkbox"] {
// 	&:checked {}
// 	&::before {
//         background-image: url(./assets/placeholders/ph.square.svg);
//     }
// 	&:checked::before {
//         background-image: url(./assets/placeholders/ph.check.svg);
//     }
// }


// --------------------------------------------------
// Read Only
// --------------------------------------------------
// [type="readonly"] {
// 	cursor: not-allowed;
// 	font-weight: bold;	
//     color: $c__base-subtle;
//     padding: 0.15em;
// }


// --------------------------------------------------
// File 
// --------------------------------------------------
// [type="file"] {
//     @extend %input;    
// 	cursor: pointer;	
//     display: flex;

// 	&::-webkit-file-upload-button {    
// 		-webkit-appearance: button; 
//         cursor: pointer;	
// 		color: #fff;
//         border: 0;
//         border-radius: $border-radius__input, 0px, 0px, $border-radius__input;
// 		transition: background-color, 250ms;
// 	} 

// 	&:hover {
// 		&::-webkit-file-upload-button {
//             background-color: $c__text;
//         } 
// 	} 
// } 


// --------------------------------------------------
// Color
// --------------------------------------------------
// [type="color"] {	
//     cursor: pointer;
//     height: 1.5rem;
//     width: 1.5rem;
//     margin-top: 0.5rem;    
//     margin-bottom: 1rem;    
//     background-color: transparent;
//     border: 0;
// }


// --------------------------------------------------
// Range
// --------------------------------------------------
// [type="range"] {
//     cursor: pointer;
//     margin-top: 0.5rem;    
//     margin-bottom: 1rem;    
//     padding: 0.25rem;
// }	

