@charset "UTF-8";
// ---------------------------------------
// Meta
// styles match .attribute
// ---------------------------------------
%meta, 
.meta {
	// white-space: nowrap; 
	padding: 4px;
	@include font-size(small);

	i { 
		@include font-size; 
		width: 1.3em;
		text-align: center;		
	}  

	.meta__value {}
	
} //

%a-meta,
a.meta,
.meta a {

	@extend %a-color; // +1 optional
	// @extend %a-color-primary;
	// @extend %a-color-secondary;
	// @extend %a-color-alt;
	// @extend %a-color-bright;
	// @extend %a-color-subtle;
	 
} //




