// 
// Add To Any
// https://wordpress.org/plugins/add-to-any/
// 
// @this /sass/bits/_share.scss
// 


// 
// .share is a custom <nav> wrapper
// .addtoany__list is plugin's <div> wrapper
// 

// <nav>
.share {
	padding: 4px 0;
}


// <nav> <div>
.share:not(.share--vert) .addtoany_list {}


// <nav> <div>
.share--vert .addtoany_list  {}


// Show only the global share icon
.share--single .addtoany_list {
    a:not(.addtoany_share) {
        display: none;
    }    
} 


// <div>
.addtoany_list {
	font-size: 1.266rem;
}


// <a>
.addtoany_list a {
	text-decoration: none;
}


// SVG <sapn> wrapper
.addtoany_list .a2a_svg {
	display: inline-grid;
	place-items: center center;
	padding: 0.15em;
	border: 1px solid;
	border-radius: 100%;
}


// SVG
.addtoany_list .a2a_svg svg {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	width: 1em;
	overflow: visible;
	vertical-align: -.125em;	
}


// <span> hidden accessible
.addtoany_list .a2a_label {
	position: absolute !important;
	overflow: hidden;	
	height: 1px;
	width: 1px;	
	border: 0;	
	padding: 0;	

	clip: rect(1px 1px 1px 1px);
	clip-path: polygon(0 0,0 0,0 0);
	-webkit-clip-path: polygon(0 0,0 0,0 0);

	// clip: rect(0 0 0 0);
	margin: -1px;

}



// 
// Prototype
// 

@include test-mode {
    body.proto {

   		.share {
			margin: 20px;
			background: $mc__gray-300;
		}    
		
    }// 
} //

