@charset "UTF-8";

// ----------------------------------------------------
// Table Base
// ----------------------------------------------------
table {
    display: block;    
    width: fit-content;
    max-width: 100%;   
    overflow-x: auto;    
    border-collapse: collapse;     
    margin: $gap-big auto $gap-extra auto;
    @extend %small;

    caption {
        padding: $gap-big $gap-base $gap-base $gap-base;
    }

    thead {}
    tr {}    

    th { 
        text-align: left; 
    }
    td { 
        white-space: nowrap; 
    }
    th, td { 
        padding: $gap-small $gap-base;
    }
    .meta { 
        font-size: inherit; 
    }
    img {
        max-width: 300px;
    }

} //

// -----------------------------------------------
// Table Styles
// -----------------------------------------------

table {
    background: $rgba-black;
    border: 1px dotted $rgba-white;
    
    thead {
        border-bottom: 1px dotted #FFFFFF;
    }
    tr:not(:last-of-type) {
        border-bottom: 1px dotted $rgba-white;
    }
    tr td:not(:last-child) {
        border-right: 1px dotted $rgba-white;
    }  
    thead tr {
        border: 0;
    }
}
