//
// Vanilla Aria Modals
// Accessible modals with vanilla Javascript
//
// @this /sass/componenets/_AriaModal.scss
// @requires /js/AriaModal.js + related
// @requires /sass/variables/_animate.scss
// 
 

// 
//  Modal Classes
// 

div[data-modal-component] {
    button[data-modal-open] {}
    div[data-modal-overlay] {}
        div[data-modal] {}
        div[data-modal-full] {}
        div[data-modal-flex] {}
        div[data-modal-fixed] {}
            button[data-modal-xButton] {}
            div[data-modal-content] {}
}



// A wrapper <div> or other block
// containing the opener and modal content
[data-modal-component] {
    margin: 0;
    padding: 0;
    border: 0;  
}


// Open <a> or <button>
[data-modal-open] {}


// A <p> that can be hidden or visible
[data-modal-description] {
    // @include screen-reader-text;
}


// Overlay <div>
[data-modal-overlay] {
    position: fixed;    
    overflow-y: auto; 
    overflow-x: hidden;
    z-index: 100;	      
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
	margin: 0;
    padding: 1rem; 
    background: rgba(0,0,0,0.95);

    &:not([data-modal-active]) {
        display: none;
    }
    &[data-modal-active] {
       display: block;
    }

} // 


// Modal <div> 
// See demos below for positioning
[data-modal] {
    position: relative; 
    margin: auto;
}

[data-modal][data-modal-full] {
    border-radius: 0;
    box-shadow: none;
    background: transparent;   
}

[data-modal][data-modal-flex], 
[data-modal][data-modal-fixed] {
    border-radius: 10px;	
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);  

    h1 {
        margin-top: 0; 
    }
   
} //


// Defualt close X <button>
[data-modal-xButton] {
    display: flex;
    position: absolute;
    z-index: 200;

    margin: 0; 
    border-radius: $border-radius__icon;
    @include font-size(1);      

    [data-modal-x-wrap],
    [data-modal-x-icon] {
        height: 1em;
        width: 1em;   
    }   
    
    &::after {
        // parent border-radius minus border width
        border-radius: $border-radius__icon;
    }   

}

[data-moda-flex] [data-modal-xButton],
[data-moda-fixed] [data-modal-xButton] {
    top: -0.5rem;
    right: -0.5rem;   
}

[data-modal-full] [data-modal-xButton] {
    top: 0.6rem;
    right: 0.6rem;

} //


// An optional inner <div>
[data-modal-content] {
    padding: 1rem;
}



//
// Transition Overlay
// No animate.css here - interferes with 
// tranistions on the [data-modal] element.
// 

[data-modal-overlay] {
    transition-property: opacity;    
    &:not([data-modal-active]) {
        opacity: 0;        
        transition-duration: 500ms;
    }
    &[data-modal-active] {
        opacity: 1;  
        transition-duration: 500ms;
    }
} //


//
// Default Animation Settings
// @see /sass/mixins/_animate.scss
// [data-modal-component].class
// JS accomodates transitions up to 1000ms
// 

[data-modal] {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


// Slide left to right
.modal-slide-right [data-modal] {

    &:not([data-modal-active]) {
        -webkit-animation-name: fadeOutRight;
        animation-name: fadeOutRight;
    }

    &[data-modal-active] {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }

} //


// Main Navigation
#mobile [data-modal] {  

    &:not([data-modal-active]) {
        -webkit-animation-name: fadeOutRight;
        animation-name: fadeOutRight;
    }
    &[data-modal-active] {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }
}

