// 
// Vanilla Scroll-Pin Banners
//
// @this /sass/components/_banner.scss
// @uses /js/ScrollPin.js
// @uses /sass/variables/_animate.scss
// 
 

// 
// No Javascript
//

// The outter block element
.banner {

    width: 100%;
    min-height: 100vh;    

    margin: 0;
    padding: 0;
    
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: $color__black;

    display: grid;
    // grid-gap: 1rem;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
        '. . .'
        '. banner-content .'
        '. . .';
} // 

// A <div> to wrap all text
.banner__content {
    grid-area: banner-content;
    max-width: 960px;
    padding: 1rem;
    background: rgba($color__black, 0.96);
    color: $color__white;
}

// An h1, h2, h3 ...
.banner__title {
    color: $color__white;
    margin-top: 0;
    padding-top: 0;
}

// A block with text in it
.banner__text {}


// An <a> 
.banner__action {
    
    display: inline-flex;
    align-items: center;
    color: $color__white;
    border-bottom: 4px solid;
    border-color: transparent;

    &:hover, &:active, &:focus {
        color: $color__white;
        border-color: $color__white;
    } //    

    &::after {
        content: '';
        width: 2em; 
        height: 1em;    
        background: no-repeat center center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23ffffff' d='M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z'%3E%3C/path%3E%3C/svg%3E"); 
    } //

} //


//
// ScrollPin.js
// 

.banner__content[data-scroll-pin] {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.banner__content[data-scroll-pin="false"] {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.banner__content[data-scroll-pin="true"] {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

   