// 
// Card Classes
// 
.card {}
.card.lubricant {}
.card.post {}
.card.page {}
.card.offer {}

.card {
	.card__imgage {}
		img {}

	.card__header {}
		.card__meta {}
		.card__title-wrap {}
			.card__title {}
			.card__subtitle {}

	.card__main {}
		.card__buy {}
		nav.buy {}	
}



// 
// Single Lubricant + Post + Page Cards
// 
.card.lubricant,
.card.post,
.card.page {

    display: grid;

	.card__image  {grid-area: c-img; align-self: stretch;}
	.card__header {grid-area: c-head;}
	.card__main   {grid-area: c-main;}

	.card__image { 
		display: grid; // for object-fit
	}

	img {
		object-fit: cover;
		height: 100%;
		width: 100%;		
	}

	.buy {
		display: inline-block;
		margin: 0.6rem 0 0.4rem 0;
	}	

} // 

// Small screen
@media screen and (max-width: 600px) {
	.card.lubricant,
	.card.post,
	.card.page {
		grid-template-columns: 1fr;	
		grid-template-areas: 
			'c-img'
			'c-head'
			'c-main';

		.card__image {
			height: 120px;
		}
	}

} // 

// Big screen
@media screen and (min-width: 601px) {
	.card.lubricant,
	.card.post,
	.card.page {
		grid-template-columns: 128px 1fr;	
		grid-template-areas: 
		'c-img c-head'
		'c-img c-main';
	}
}


// 
// Brand block + overlay
// 

.card.brand {
	background: none;
	border: none;
    display: grid;
	grid-template-areas: 
		'c-img'
		'c-main';

	.card__image  {
		grid-area: c-img; 
		display: block;
	}
	.card__main   {
		grid-area: c-main; 
		padding: 0.5rem 0 0 0;
	}
	img {
		border: $border__content;
		height: 100%;
		width: 100%;		
	}

} // 

.card.brand .card__image {
	position: relative;
	overflow: hidden;	

	.card__overlay {
		position: absolute;	
		height: 100%;
		width: 100%;		
		top: 0;
		bottom: 0;		
		left: 0;
		right: 0;	
		background: rgba(0,0,0,0.9);
		opacity: 0;			
		transition: all 0.4s ease-in-out 0s;
	}
	.card__overlay-text {
		position: absolute;
		width: 100%;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.3s ease-in-out 0s;
		opacity: 0;		
		text-align: center;		
		padding: 0.5rem;
	}

	h1 { @include font-size(1.26); }
	h2 { @include font-size(0.9); }
	h1, h2 {
		margin: 0;
		padding: 0;
	}
	a:hover,a:active, a:focus {
		color: #ffffff;
	}
}

.card.brand .card__image:hover {
	.card__overlay {
		opacity: 1;
		border: $border__content;
	}	
	.card__overlay-text {
		top: 50%;
		left: 50%;
		opacity: 1;
	}
}




// 
// Single Offer card
// 

.card.offer {}


// 
// Single Favorite card
// 

.card--favorite {
	p:nth-of-type(1) {
		img {}
	}
	p:nth-of-type(2) {
		a {} // post title
	}
	p:nth-of-type(3) {
		a.simplefavorite-button {}
	}
}

.card--favorite {
	display: grid;
	// grid-column-gap: 0.5rem;
	grid-template-columns: 120px 1fr max-content;
	grid-template-areas: 
		'fav-img fav-title fav-button';

	p:nth-of-type(1) { 
		grid-area: fav-img; 
		display: grid; // for object-fit;
		padding: 0;		
	}
	p:nth-of-type(2) { 
		grid-area: fav-title; 
		align-self: center;
		padding: 0.5rem;			
	}
	p:nth-of-type(3) { 
		grid-area: fav-button;
		align-self: center; 
		padding: 0.5rem;
	}	
	p {
		line-height: 1;	
		margin: 0;
		@include condensed-700;
		@include font-size(1.6);		
	}
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;		
	}

} //



// 
// Single Card Shared 
// 

.card {
    padding: 0;
    background: $bg__content;
	border: $border__content;

	.card__header { 
		padding: 0.5rem; 
	}
	.card__title-wrap {
		display: block;
	}	
	.page__title {
		@include font-size(1.6);
	}
	.page__subtitle {
		@include font-size(1.125);
	}
	.card__main {
		padding: 0 0.5rem 0.5rem 0.5rem; 	
	}

} // 


.card__main {
	p {
		@include font-size(0.79);
	}
	p:first-of-type {
		margin-top: 0;
		padding-top: 0;
	}
	p:last-of-type {
		margin-bottom: 0;
		padding-bottom: 0;
	}

}

.card__meta {
	display: flex;
	flex-wrap: wrap;

	.meta:not(:last-of-type) {
		margin-right: 1em;
	}
}



// // NOT Implemented 
// // SccardPin.js
// // 

// // Defualt fade in-out
// .card[data-sccard-pin] {
//     -webkit-animation-duration: 500ms;
//     animation-duration: 500ms;
//     -webkit-animation-fill-mode: both;
// 	animation-fill-mode: both;

// 	// All cards fade out
// 	&[data-sccard-pin="false"] {
// 		-webkit-animation-name: fadeOut;
// 		animation-name: fadeOut;
// 	}

// }

// // Default fade in
// // Simpler rule without needing another class in markup?
// .card:not(.card--from-left):not(.card--from-right):not(.card--lightspeed-in) {	
// 	&[data-sccard-pin="true"] {
// 		-webkit-animation-name: fadeIn;
// 		animation-name: fadeIn;
// 	}
// }

// // Slide in from left	
// .card--from-left {
// 	&[data-sccard-pin="true"] {
// 		-webkit-animation-name: fadeInLeft;
// 		animation-name: fadeInLeft;		
// 	}
// 	// &[data-sccard-pin="false"] {}
// }

// // Slide in from right
// .card--from-right {
// 	&[data-sccard-pin="true"] {
// 		-webkit-animation-name: fadeInRight;
// 		animation-name: fadeInRight;
// 	}
// 	// &[data-sccard-pin="false"] {}
// }

// // Ligbtspeed in
// .card--lightspeed-in {
// 	&[data-sccard-pin="true"] {
// 	-webkit-animation-name: lightSpeedIn;
// 	animation-name: lightSpeedIn;
// 	-webkit-animation-timing-function: ease-out;
// 	animation-timing-function: ease-out;
// 	}
// 	// &[data-sccard-pin="false"] {}
// }

// // End not implemented
