// 
// FacetWP filters on '/lubricants'
// 

// 
// Facet Classes
// 

div.section--filters {
    .section__inner {}
        .section__grid {}
            div.facet-wrap {}
                label.facet-label {}
                div.facetwp-facet {
                    &[data-type='dropdown'] {}
                    &[data-name='popular'] {}
                    &[data-name='formulas'] {}
                    &[data-name='recommended'] {}
                    &[data-name='safe_for'] {}
                    &[data-name='consistency'] {}
                    &[data-name='lasting_power'] {}
                    &[data-name='brands'] {}
                }
                select.facetwp-dropdown {}
                button.button.button--reset {}
}



// 
// Facet Styles
// 

.facetwp-facet {
    margin-bottom: 0 !important;
}

.facetwp-dropdown {
    width: 100%;    
    margin-bottom: 0;
    @include font-size(0.79);
}

