// 
// Flickity Styles 
// 
// @this /sass/components/_flickity.styles.scss
// @related /sass/compnents/_flickity...scss
// @script /vendors/.flickity.js + related
//


// 
// Full-cell-height hack
// 

.flickity-resize .slider__cell {
  min-height: 100%;
}


// 
// Base
// 

.slider {
    figure {
        position: relative;
        height: 100%;        
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 1;
    }
    &:not(.is-fullscreen) figcaption {
        display: none;
    }
    figure img {
        object-fit: cover;
        height: 100%;  
        max-width: 100vw; 
    }
}

.slider.is-fullscreen {
    z-index: 500;    
    height: 100% !important;
    margin: 0;
    padding: 0;
    .flickity-page-dots {
        display: none;
    } 
    figcaption {
        position: absolute;
        bottom: 1.5em; 
        left: 50%;
        transform: translateX(-50%);  
        padding: 0.5em;   
        font-size: 16px; 
        line-height: 1;       
        color: white;
        background: rgba(0,0,0, 0.9);
    }

}


// 
// Buttons
//

.flickity-enabled:focus { outline: none; }

.flickity-button {
    border: none;  
    color: rgba(0,0,0, 0.5);  
    background: rgba(255,255,255, 0.5);

    &:hover {
        color: rgba(0,0,0, 0.8);  
        background: rgba(255,255,255, 0.8);
    }
    &:focus {
        // outline: none;
        // box-shadow: 0 0 0 5px #19F;
    }
    &:active {
        opacity: 0.6;
    }
    &:disabled {
        opacity: 0.3;
    }

    .flickity-button-icon {
        fill: currentColor;
    }

}  // 


// 
// Page Dots
// 

.flickity-page-dots .dot {
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  &.is-selected {
      opacity: 1;
  }

}
