// 
// @this /sass/components/_nav-mobile.scss
// @requires /js/AriaModal.js + related
// @related /sass/components/_StickyHeader.scss
// 

// Component wrapper <div>
#mobile[data-modal-component] {
    margin: 0;
    padding: 0;
    border: 0;
}

// Open <button>
#mobile [data-modal-open] {
    display: flex;
    margin: 0; 
    padding: 0.15em;    
    @include font-size(1.802);
    background: none;
    border: none;
    [data-modal-open-icon-wrap],
    [data-modal-open-icon] {
        height: 1em;
        width: 1em;  
    }
} 


// Overlay <div>
#mobile [data-modal-overlay] {
    padding: 0;
    background: rgba(0,0,0,0.95)
}

// Modal <div> 
#mobile [data-modal] {
    position: relative;
    margin: auto;
    padding: 2rem;     
    border-radius: 0;
    box-shadow: none;
    background: transparent;

    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    &:not([data-modal-active]) {
        -webkit-animation-name: fadeOutRight;
        animation-name: fadeOutRight;
    }
    &[data-modal-active] {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }
}

// Inner <div>
#mobile [data-modal-content] {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) ) ;
    padding: 1rem;        
}

// Defualt close X <button>
#mobile [data-modal-xButton] {
    display: flex;
    position: absolute;
    z-index: 200;
    top: 0.6rem;
    right: 0.6rem;
    margin: 0; 

    [data-modal-x-wrap],
    [data-modal-x-icon] {
        height: 1em;
        width: 1em;   
    }    

    @include font-size(1.424);   
    padding: 0.15em;
    border-radius: 100%;
    border: 4px double;
    background: #FFFFFF;
    color: #000000;

    &:hover, &:active, &:focus {
        background: #000000;
        color: #FFFFFF;        
    }
}


// 
// Styles
// 

#mobile .mobile-item {
    padding: 1rem;
    // border: 1px dotted;
    border-radius: 10px; 
    color: white;   

    h1 {
        color: white;
        margin-top: 0;
        padding-top: 0;
        @include font-size(1.242);
    }

    &--subscribe {
        background: rgba(#EA80FC, 0.9)
    }
    &--offer {
        background: rgba(#64DD17, 0.9)
    }
    &--categories {
        background: rgba(#FF6D00, 0.9)
    }
    &--about {
        background: rgba(#AA00FF, 0.9)
    }

}






// Close X <button>
#mobile [data-modal-xButton] {
    @include font-size(1.424);   
    padding: 0.15em;
    border-radius: 100%;
    border: 4px double;
    background: #FFFFFF;
    color: #000000;

    &:hover, &:active, &:focus {
        background: #000000;
        color: #FFFFFF;        
    }
}


