// 
// Favorites plugin
// @see /sass/nav.scss
// 

// Base
.fav-button,
.simplefavorite-button {
    cursor: pointer;     
    @include condensed-400;  
    text-decoration: none; 
    margin: 6px;

    i {
        font-size: 1em;
        padding: 0.45em 0.3em;
        height: 2em; // font-szie + (padding x 2)
        width: 2em;
        text-align: center;
        border: $border__icon;
        border-radius: $border-radius__icon;
    }    

    &:hover, &:active, &:focus, &.active {
        opacity: 1 !important;
        text-decoration: none;
    }

}

