// 
// Favorites plugin
// @see /sass/nav.scss
// 

//
// Base
// 

.simplefavorite-button,
.simplefavorite-button.preset,
.fav-button {
    cursor: pointer;     
    @include condensed-400;  
    text-decoration: none; 
    margin: 6px;

    i {
        font-size: 1em;
        padding: 0.45em 0.3em;
        height: 2em; // font-szie + (padding x 2)
        width: 2em;
        text-align: center;
        border: $border__icon;
        border-radius: $border-radius__icon;
    }    

    &.active,
    &:hover, &:active, &:focus {
        opacity: 1 !important;
        text-decoration: none;
    }

}


// 
// Loading Spinnger
//

.simplefavorites-loading {
  margin-left: 8px;
}

.sf-icon-spinner-wrapper {
  display: inline-block;
  position: relative;
  min-width: 1em;
  min-height: 1em;
}

.sf-icon-spinner {
  -webkit-animation: sf_rotate linear 2s infinite;
          animation: sf_rotate linear 2s infinite;
  position: absolute;
  top: .15em;
  left: 0;
}

@-webkit-keyframes sf_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

@keyframes sf_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

[class^="sf-icon-"], [class*=" sf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'favorites' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sf-icon-spinner:before {
  content: "\e97b";
}

