//
// Vanilla Aria Toggle Content
// A lighter-weight alternative to many ARIA accordions.
//
// @this /sass/componenets/_ToggleContent.scss
// @requires /js/ToggleContent.js
// 
 

//
// Toggle 
//  

[data-toggle] {
  padding: 0.25rem 0;
}

.section [data-toggle]:first-of-type {
  margin-top: 1rem;
}
.section [data-toggle]:last-of-type {
  margin-bottom: 2rem
}


// 
// <button> - Added via JS
// Replaces text inisde [data-toggle-title]
// 

// The <h> tag wrapping the <button>
[data-toggle-title][aria-label] {
    margin: 0;
    padding: 0;  
    @include font-size(1); 
}

// <button>
[data-toggle-button] {
    width: 100%; 
    padding: 0.5em 0.5em 0.5em 0.35em;
    margin: 0;
    font-size: inherit;
    text-align: left;    
    text-transform: none;

    &[aria-expanded] {}
    &[aria-expanded='false'] {}
    &[aria-expanded='true'] {}
}

// <svg>
[data-toggle-icon] {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: 1em;
    overflow: visible;
    vertical-align: -.125em;

    transform-origin: center;
    transition-property: transform;
    transition-duration: 300ms; 
}

[aria-expanded="true"] [data-toggle-icon] {
  transform: rotate(90deg);
}

// <span>
[data-toggle-button-text] {}


// 
// Content <div>
// sass/globals/_animate.scss
// 

[data-toggle-content] {

    margin-top: 0.5rem;

    &[aria-hidden] {
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;   
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;             
        transform-origin: top;   

        padding: 0.5rem;  
        background: $bg__content;
        border: $border__content;

        p:first-of-type {
            margin-top: 0;
            padding-top: 0;
        }
        p:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
        }      
    }

    &[aria-hidden='true'] {
		-webkit-animation-name: scaleOutUp;
        animation-name: scaleOutUp;   
    }   

    &[aria-hidden='false'] {
        -webkit-animation-name: scaleInDown;
        animation-name: scaleInDown;
    }

} 


// 
// Button Varients
// @see /bits/buttons for transition examples
// 

[data-toggle-button] {   

    color: rgba(#ffffff, 0.85);
    background: rgba(#000000, 0.85);

    &:hover, &:active, &:focus,
    &[aria-expanded='true'] {
        color: #ffffff;
    }

    &::after {
        background: $color__primary-lt;
    }       

    &:active, &:focus {
        outline-color: $color__alt;
    }

} // 

.toggle--green [data-toggle-button] {

    border-color: $color__green;

    &[aria-expanded='true'] {
        background: $color__green;        
    }
    &::after {
        background: $color__green;
    }       
    &:active, &:focus {
        outline-color: $color__green;
    }

}

.toggle--yellow [data-toggle-button] {

    border-color: $color__yellow;

    &[aria-expanded='true'] {
        background: $color__yellow;        
    }
    &::after {
        background: $color__yellow;
    }       
    &:active, &:focus {
        outline-color: $color__yellow;
    }

}

.toggle--orange [data-toggle-button] {

    border-color: $color__orange;

    &[aria-expanded='true'] {
        background: $color__orange;        
    }
    &::after {
        background: $color__orange;
    }       
    &:active, &:focus {
        outline-color: $color__orange;
    }

}

.toggle--red [data-toggle-button] {

    border-color: $color__red;

    &[aria-expanded='true'] {
        background: $color__red;        
    }
    &::after {
        background: $color__red;
    }       
    &:active, &:focus {
        outline-color: $color__red;
    }

}

