//
// Vanilla Aria Toggle Content
// A lighter-weight alternative to many ARIA accordions.
//
// @this /sass/componenets/_ToggleContent.scss
// @requires /js/ToggleContent.js
// 
 

//
// Toggle 
//  

[data-toggle] {
  padding: 0.25rem 0;
}

.section [data-toggle]:first-of-type {
  margin-top: 1rem;
}
.section [data-toggle]:last-of-type {
  margin-bottom: 2rem
}


// 
// <button> - Added via JS
// Replaces text inisde [data-toggle-title]
// 

// The <h> tag wrapping the <button>
[data-toggle-title][aria-label] {
    margin: 0;
    padding: 0;  
    @include font-size(1); 
}

// <button>
[data-toggle-button] {
    position: relative;
    z-index: 10;
    width: 100%; 
    padding: 0.5em 0.5em 0.5em 0.35em;
    font-size: inherit;
    text-align: left;    
    text-transform: none;

    &[aria-expanded] {}
    &[aria-expanded='false'] {}
    &[aria-expanded='true'] {}
}


// <svg>
[data-toggle-icon] {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: 1em;
    overflow: visible;
    vertical-align: -.125em;

    transform-origin: center;
    transition-property: transform;
    transition-duration: 300ms; 
}

[aria-expanded="true"] [data-toggle-icon] {
  transform: rotate(90deg);
}

// <span>
[data-toggle-button-text] {}


// 
// Content <div>
// 

[data-toggle-content] {

    &[aria-hidden] {
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;   
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;             
        transform-origin: top;   

        padding: 1rem 0.5rem;  
        background: $bg__content;
        border: $border__content;
        border-top: none;

        p:first-of-type {
            margin-top: 0;
            padding-top: 0;
        }
        p:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
        }      
    }

    &[aria-hidden='true'] {
		-webkit-animation-name: scaleOutUp;
        animation-name: scaleOutUp;   
    }   

    &[aria-hidden='false'] {
        -webkit-animation-name: scaleInDown;
        animation-name: scaleInDown;
    }

} 


// 
// Button Varients
//

[data-toggle-button] {   
  color: #ffffff;
  background: $bg__content;
  border: $border__content;
  transition: background-color 250ms;

  &:hover, &:active, &:focus,
  &[aria-expanded='true'] {
    background-color: $color__link-h;        
  }
} // 

.toggle--transparent [data-toggle-button] {
    &:active,
    &[aria-expanded='true'] {
        background-color: transparent;        
    }
}


.toggle--green [data-toggle-button] {
  border-color: $color__green;
  &:hover, &:active, &:focus,
  &[aria-expanded='true'] {
    background-color: $color__green;        
  }
}

.toggle--yellow [data-toggle-button] {
  border-color: $color__yellow;
  &:hover, &:active, &:focus,
  &[aria-expanded='true'] {
    background-color: $color__yellow;        
  }
}

.toggle--orange [data-toggle-button] {
  border-color: $color__orange;
  &:hover, &:active, &:focus,
  &[aria-expanded='true'] {
    background-color: $color__orange;        
  }
}

.toggle--red [data-toggle-button] {
  border-color: $color__red;
    &:hover, &:active, &:focus,
    &[aria-expanded='true'] {
        background-color: $color__red;        
    }
}







// 
// Keyframes
//

@-webkit-keyframes scaleInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
  }
  50% {
    opacity: 1;
  }
}

@keyframes scaleInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleOutUp {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(1, 0.3, 1);
    transform: scale3d(1, 0.3, 1);
  }
  to {
    opacity: 0;   
  }
}

@keyframes scaleOutUp {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(1, 0.3, 1);
    transform: scale3d(1, 0.3, 1);
  }
  to {
    opacity: 0;
  }
}
