
// 
// @this /sass/componenets/_ToggleFilters.scss
// @requires /js/ToggleFilters.js
// @requires /sass/globals/_animate.scss
// 

// <section>
#filters {
    // Hide entire section if JS is not enabled
    // No fallback needed because filters themselves
    // are ajax and won't work without JS anyway.
    display: none;

    // <a>
    #filters-toggle {
        display: block;
        width: 200px;
        margin: 1rem auto;   
        
        i {
            margin: 0 0 0 0.5em;
        }
    }

    // Hide `.section` inner until toggled
    #filters-content {
        display: none; 
    }

} // 

#filters-content {

    &[aria-hidden] {
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;   
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;             
        transform-origin: top;   
    }

    &[aria-hidden='true'] {
		-webkit-animation-name: scaleOutUp;
        animation-name: scaleOutUp;   
    }   

    &[aria-hidden='false'] {
        -webkit-animation-name: scaleInDown;
        animation-name: scaleInDown;
    }

} //
