
@mixin bg-swoosh($color:$mc__gray-700) {
	$color-lt: scale-color($color, $lightness: 50%);
	$color-dk: scale-color($color, $lightness: -50%);
	background: 	
		// top-left-corner
		radial-gradient(
			circle at right bottom, 
			rgba(0,0,0,0) 80%, 
			$color 80%, 
		),					
		// middle + bottom-right
		radial-gradient(
			farthest-corner at 0% -20%,
			$color-lt 68%,  
			$color-dk 68%, 
		); // background	
} //


