//
// @file /sass/mixins/_mix-bg-linear-h.scss
//

@mixin bg-linear-h($hex-left:$color__primary-a, $alpha-left:1, $hex-right:$color__primary, $alpha-right:1) {

	background: rgba($hex-left,$alpha-left);

	background: -moz-linear-gradient(
		left, 
		rgba($hex-left,$alpha-left) 0%, 
		rgba($hex-right,$alpha-right) 100%);

	background: -webkit-gradient(
		left top, right top, 
		color-stop(0%, rgba($hex-left,$alpha-left)), 
		color-stop(100%, rgba($hex-right,$alpha-right)));

	background: -webkit-linear-gradient(
		left, 
		rgba($hex-left,$alpha-left) 0%, 
		rgba($hex-right,$alpha-right) 100%);

	background: -o-linear-gradient(
		left, 
		rgba($hex-left,$alpha-left) 0%, 
		rgba($hex-right,$alpha-right) 100%);

	background: -ms-linear-gradient(
		left, 
		rgba($hex-left,$alpha-left) 0%, 
		rgba($hex-right,$alpha-right) 100%);

	background: linear-gradient(
		to right, 
		rgba($hex-left,$alpha-left) 0%, 
		rgba($hex-right,$alpha-right) 100%);
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#hex-left', endColorstr='$hex-right', GradientType=1 );
}