// -----------------------------------------------------------------------------
// Rounding Function
// roundDecimal($this-number, 2);
// -----------------------------------------------------------------------------

@function pow($x, $n) {
	$ret: 1;
	@if $n >= 0 {
		@for $i from 1 through $n {
			$ret: $ret * $x;
		}
	} @else {
		@for $i from $n to 0 {
			$ret: $ret / $x;
		}
	}
	@return $ret;
} // pow

@function roundDecimal($float, $digits) {
	$sass-precision: 5;
	@if $digits > $sass-precision {
		@warn "Sass sets default precision to #{$sass-precision} digits, and there is no way to change that for now."
		+ "The returned number will have #{$sass-precision} digits, even if you asked for `#{$digits}`."
		+ "See github.com/sass/sass/issues/1122 for further informations.";
	}
	$pow: pow(10, $digits);
	@return round($float * $pow) / $pow;
}

// ------------------------------------------------------
// Pixel Calcualtion Function 
// Uses the baked-in `round();` function
// ------------------------------------------------------

@function calculateFontPixel($font-multiplier) {
	$pixelSize: round($font-size * $font-multiplier);
	@return $pixelSize;
}

// -------------------------------------------------------
// REM Calculation Function
// Uses custom `roundDecimal();` function
// to limit rem to 2 decimal places. 
// -------------------------------------------------------

@function calculateFontRem($font-multiplier) {
	$pixelSize: $font-size * $font-multiplier;
	$remCalc: $pixelSize / $font-size;
	$remSize: roundDecimal( $remCalc, 2);
	@return $remSize * 1rem;
}

// -------------------------------------------------------
// The final mixin
// -------------------------------------------------------

@mixin font-size($font-multiplier:1) {
	@if $font-multiplier == 'small' {
		font-size: calculateFontPixel($font-size__small);
		font-size: calculateFontRem($font-size__small);
	} 
	@else if $font-multiplier == 'big' {
		font-size: calculateFontPixel($font-size__big);
		font-size: calculateFontRem($font-size__big);	
	}
	@else if $font-multiplier == 'h1' {
		font-size: calculateFontPixel($font-size__h1);
		font-size: calculateFontRem($font-size__h1);	
	}
	@else if $font-multiplier == 'h2' {
		font-size: calculateFontPixel($font-size__h2);
		font-size: calculateFontRem($font-size__h2);	
	}
	@else if $font-multiplier == 'h3' {
		font-size: calculateFontPixel($font-size__h3);
		font-size: calculateFontRem($font-size__h3);	
	}
	@else if $font-multiplier == 'h4' {
		font-size: calculateFontPixel($font-size__h4);
		font-size: calculateFontRem($font-size__h4);	
	}
	@else if $font-multiplier == 'h5' {
		font-size: calculateFontPixel($font-size__h5);
		font-size: calculateFontRem($font-size__h5);	
	}
	@else if $font-multiplier == 'h6' {
		font-size: calculateFontPixel($font-size__h6);
		font-size: calculateFontRem($font-size__h6);	
	}
	@else {
		font-size: calculateFontPixel($font-multiplier);
		font-size: calculateFontRem($font-multiplier);		
	}
} //

