//
// @file /sass/mxins/_mix-bg-radius.scss
//

@mixin bg-radial($hex-inner, $alpha-inner, $hex-outter, $alpha-outter) {

	background: rgba($hex-inner,$alpha-inner);

	background: -webkit-radial-gradient(
		center, ellipse, 
		rgba($hex-inner,$alpha-inner) 0%, 
		rgba($hex-outter,$alpha-outter) 100%);

	background: -o-radial-gradient(
		center, ellipse, 
		rgba($hex-inner,$alpha-inner) 0%,
		rgba($hex-outter,$alpha-outter) 100%);

	background: radial-gradient(
		ellipse at center, 
		rgba($hex-inner,$alpha-inner) 0%, 
		rgba($hex-outter,$alpha-outter) 100%);
	
}

