@charset "UTF-8";
// --------------------------------------------
// Global Focus
// --------------------------------------------

@mixin focus  ($color: $c__focus) {
	outline: none;
	box-shadow: 0px 0px 6px 0px rgba($c__focus, 1);
}

@mixin focus-big  ($color: $c__focus) {
	outline: none;
	box-shadow: 0px 0px 12px 0px rgba($c__focus, 1);
}

