// 
// @this /sass/layouts/_page.scss
// 

// 
// Page Body Classes
//  

.amazon {}
.archive {}
.loves {}
.lube {}
.offer {}
.single {}
.page {}


// 
// Page Sections
//

// Full-width
.section {   
    // Fluid-width
    .section__inner {}
        .section__title {}
        .section__description {}
        .section__grid {}
        // Max-width
        .section__content {}
            .section__text {}
            .section__attributes {}
            .section__note {}
        .section__buy {}  
}  


// 
// Page Sections Grid
// Makes a single, flexible-width content column
// 

// Grid
.section {
    min-height: 300px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
        '. . .'
        '. s-inner .'
        '. . .'
    ;

    .section__inner {
        grid-area: s-inner;
        min-width: 440px;        
        max-width: 810px;
    }

    // One-Off Adjustments
    &.page__gallery {
        display: block;    
        padding: 2rem 0;
    }

} // 


// Section Backgrounds
body .section:nth-child(odd) {
    @include bg-slash-r;
}

body .section:nth-child(even) {
    @include bg-slash-l;
}


// 
// .section__inner Chunks
// See /sass/components/_cards.scss
// 

.section__title {
    @include condensed-700;
    @include font-size(1.424);
    line-height: 1.125;
    margin: 0;
    padding: 1rem 0 0.5rem 0;
    color: #ffffff;
}

.section__description {}

.section__content {
    padding: 1rem 0.5rem;
    background: rgba(0,0,0, 0.8);
    border: 1px dotted $mc__gray-800;
    color: #ffffff;
}

.section__buy {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}


// 
// .section__content Chunks
// 

.section__text {}

.section__attributes {}

.section__note {
    @include serif-400i;
    @include font-size(0.79);
}


// 
// Header Chunks
// 

.page__header {}
    .page__meta {}
        .meta {}
    .page__title-wrap {}
        .page__title {}
        .page__subtitle {}    
    .page__img {}
        .simplefavorite-button {}
        img {}
    .page__brands {}  
        .meta {} 
    .page__share {}
        .share {}
        .attribute--short {}
    .page__search {}
    .page__summary {}
    .section__buy {}
    .filters {}


.page__meta {
    display: flex;
    justify-content: space-between;
    color: $mc__gray-400;
}

.page__title-wrap {
    padding: 1rem 0 0.5rem 0;
}

.page__title {
    @include condensed-700;
    @include font-size(1.602);
    line-height: 1.125;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.page__subtitle {
    @include condensed-400;
    @include font-size(1.266);
    line-height: 1.125;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.page__brands {
    a {
        margin-right: 0.5em;
    }
}

.page__img {
    position: relative;
    min-height: 300px;   
    .simplefavorite-button {
        position: absolute;
        z-index: 200;
        top: 0.5rem;
        right: 0.5rem;
        background: rgba(#000, 0.4);
        color: #fff;
    } 
}

.page__share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;

    .share {}
    .meta.meta--short {}

}

.page__summary {
    // same as .section__content
    padding: 1rem 0.5rem;
    background: rgba(0,0,0, 0.8);
    border: 1px dotted $mc__gray-800;
    color: #ffffff;   

    p:first-child {
        margin-top: 0;
        padding-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

#filters {
    padding: 1rem 0.5rem;
    background: rgba(0,0,0, 0.8);
    border: 1px dotted $mc__gray-800; 
}


.page__search {
    text-align: center;
}




// 
// Page Gallery
// 

.page__gallery {

    .slider--images {
        background-color: transparent;
    }
    .is-fullscreen {
        background-color: $mc__gray-900;
    }
    .slider--thumbs {
        background-color: rgba(0,0,0, 0.4);
    }
    .flickity-page-dots .dot {
        background: rgba(0,0,0, 0.7);
    }

}

