//
// .section
// 
article {
    section.section {
        div.section__inner {
            div.section__title {}
            div.section__subtitle {}
            div.section__description {}
            div.section__content {}
        }
    }
    section.section.section--wide {}
    section.section.section--full {}

    section.section.section--header {}
    section.section.section--main {}
    section.section.section--footer {}  
    section.section.section--comments {}

    section.section.section--cards {}
    section.section.section--blocks {}
    section.section.section--table {}
    
}


// 
// Section Widths
// 
.section:not(.section--header) {
    padding: 1.62rem 0.5rem;
    .section__inner {
        max-width: $max-width;
        margin: auto;          
    }

    &.section--wide {
        padding: 2rem 0.5rem;
        .section__inner {
            max-width: 100%;  
            width: fit-content; 
            margin: auto;    
        }
    } 

    &.section--full {
        padding: 0 0 1px 0; // prevent margin collapse
        .section__inner {
            max-width: 100%; 
            width: 100%;        
        }
    } 

    p { 
        max-width: calc( 840px - 1rem ) ;
    }

} // 


// 
// Section Base
//
.section {

    .section__title {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .section__subtitle {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .section__description {
        max-width: 100%;
        margin: 0.6rem auto 0 auto;
        > p:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        > p:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    } //

    .section__content {
        max-width: 100%;
        margin: 0.6rem auto 1rem auto;    
        padding: 1rem 0.5rem;  
        background: $bg__content;
        border: $border__content;
        > p:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        > p:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    } //

    .italic {
        @include serif-400i;
        @include font-size(0.79);        
    }

} // 

article .section:not(.section--header):last-of-type {
    padding-bottom: 3rem;
}

// 
// No Content
// 

.section--none {
    min-height: 300px;
    .big {
        text-align: center;
    }
}



// 
// Archive Filters
// 
.section--filters {
    .section__grid {
        display: grid; 
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
        grid-gap: 1rem;
        justify-content: center;        
    }
}

// 
// Brand Archive Info
// 
.section--brand .section__grid {

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 0.5rem;
    grid-template-areas: 
        'b-img b-title'
        'b-img b-company'
        'b-follow b-follow';

    img { 
        grid-area: b-img; 
    }
    .brand__title-wrap {
        grid-area: b-title;
    }
    .brand__company { 
        grid-area: b-company; 
        @include font-size(0.79);
    }
    .follow--brand  { 
        grid-area: b-follow; 
        flex-wrap: wrap;
        margin-top: 1rem;
    }

} // 


// 
// Section Iframe
// 
.section__iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        vertical-align: middle;
    }
}


// 
// Section Image / GIF
// 
.section__gif {
    margin: 0.6rem auto 1rem auto; 
}

.section__gif img {
    width: 100%;
}


// 
// Section HTML5 Video
//
 .section__video video {}



// 
// Card Sections
// 

section.sextion.sextion--cards {
    .section__inner {}
        .section__title {}
        .section__subtitle {}
        .section__description {}
        .section__grid {}
}


.section--cards .section__grid {
	display: grid;
	grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 0.6rem auto 1rem auto;
} // 


// 
// Block Sections
// 
section.section.section--blocks {
    .section__title {}
    .section__subtitle {}
    .section__description {}
    .section__grid {}
}

.section--blocks {

    .section__title,
    .section__subtitle,
    .section__description {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    } 

    .section__grid {
        margin: 0.6rem auto 1rem auto;
        display: grid;   
        grid-gap: 1rem;   
    }

} // 


// 
// Block Grids
// 

// Highlights
.section--blocks.section--popular .section__grid {}

// Recommended
.section--blocks.section--recommended .section__grid {}

@media screen and (min-width: 720px) {
    .section--blocks.section--recommended .section__grid,
    .section--blocks.section--popular .section__grid {
        grid-template-columns: 1fr 1fr;
    }
}

// Formulas
.section--blocks.section--formulas .section__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
} 

// Brands
.section--blocks.section--brands .section__grid {
    grid-template-columns: repeat(auto-fill, 200px);
    grid-column-gap: 1.6rem;
    grid-row-gap: 2rem;
    justify-content: center; 
}

// My Favorites page
article.favorites {
    
    .page__title-wrap {
        text-align: center;
        margin: 2rem 0;
    }
    .no-favorites  {
        @extend %big;
    }
}

// 
// Amazon Product Sections
// 

.section--amazon {
    min-height: auto;
}

div#amzn-native-ad-1 .amzn-native-header {
    margin-bottom: 0 !important;
}



