// 
// Page Header Classes
// 

// Page - full-width image
body.page .section--header {
    .page__title-grid {}
        .page__image {}
        .page__title-wrap {}  
    .section__inner {}           
        .page__share {}
        .page__summary {}
}

// Post - content-width image
body.single-post .section--header {
    .section__inner {}
        .page__meta {}
        .page__title-wrap {}
        .page__image {}
        .page__share {}
        .page__summary {}
}

// Lubricant - content-width image
body.single-lubricant .section--header {
    .section__inner {}
        .page__meta {}
        .page__title-wrap {}
        .page__image {}
        .page__share {}
}

// Offer - No image
body.single-offer .section--header {
    .section__inner {}
        .page__meta {}
        .page__title-wrap {}
        .page__summary {} 
        a.button--offer {}   
        .page__share {}
}

// Archive - No image
body.archive .section--header,
body.search .section--header,
body.error404 .section--header  {
    .page__title-grid {}
        .page__title-wrap {}
    .section__inner {}
        .page__summary {}
        .page__filters {}
}

// Single Brand Archive 
.section--header.section--brand {
    .page__title-grid {}
        .section__grid {}
            img {}
            .brand__title-wrap {}
            .brand__company {}
            .nav.follow {}
}


// 
// Title Grid for
// Headers with NO images
// Headers with fULL-Width Images
// 

body.page .section--header,
body.page.page-id-1260 .section--header, // Favorites 
body.archive .section--header,
body.search .section--header,
body.error404 .section--header {

    padding: 0 0 1px 0; // prevent margin collapse 

    .page__title-grid {
        grid-gap: 1rem;
        min-height: 280px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas: 
            '. . .'
            '. t-wrap .'
            '. . .'
        ;
    }

    .page__title-wrap { 
        grid-area: t-wrap;        
        padding: 1rem;
        text-align: center;
        // @include bg-oval;
        background: rgba( #000000, 0.85 );
        // display: grid;
        align-items: center;
    }

    .page__title    { @include font-size(2.28); }
    .page__subtitle { @include font-size(1.6); }   

    .page__share {
        margin: 0.6rem auto;
    }

} // 


// Pages with full-Width Images

body.page:not(.page-id-1260) .section--header {
    background-image: none;
    background-color: $color__secondary;  

    .page__title-grid {    
        // Background image - inline in php
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;             
    }

}

// Headers with no images
body.page.page-id-1260 .section--header, // Favorites 
body.archive .section--header,
body.search .section--header,
body.error404 .section--header {

}


// 
// Headers with content-width images
// 
body.single-lubricant .section--header,
body.single-post .section--header {

    .page__title-wrap {
        padding: 1rem 0 0.5rem 0;
    }

    .page__title    { @include font-size(1.6); }
    .page__subtitle { @include font-size(1.125); }

    .page__image {}

    .page__image img {
        object-fit: cover;
        width: 100%;
        max-height: 400px;
    }

    .page__share {
        margin: 0.6rem auto 0 auto;
    }   

} // 


//
// Single Brand .title__grid > .brand__title-grid
// 
.section--brand .page__title-wrap {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'b-img'
        'b-title'
        'b-company'
        'b-follow';

    img { 
        grid-area: b-img; 
        justify-self: center;
    }
    .brand__title {
        grid-area: b-title;
    }
    .brand__company { 
        grid-area: b-company; 
        @include font-size(0.79);
    }
    #nav-follow-brand  { 
        grid-area: b-follow; 
        flex-wrap: wrap;
        margin-top: 1rem;
    }

} //

@media screen and (min-width: 600px) {
    .section--brand .page__title-wrap {
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content auto auto;
        align-items: start !important;
        grid-column-gap: 0.5rem;
        grid-template-areas: 
            'b-img b-title'
            'b-img b-company'
            'b-follow b-follow'; 

        .brand__title,
        .brand__company {
            text-align: left;
        }

    }
}


// 
// Shared Header Styles
// 

.section--header {
    padding: 0 0 1px 0; // prevent margin collapse
    margin: 0;
} //

.page__meta {
    display: flex;
    justify-content: space-between;
}

.page__title-wrap {}

.page__title {
    @include condensed-700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.page__subtitle {
    @include condensed-400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.page__share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100vw - 2rem);
    margin: 0.6rem auto;
}

.page__summary {
    border: $border__content;
    background: $bg__content; 
    margin: 0.5rem auto 1rem auto;    
    padding: 0.5rem;  

    p:first-of-type {
        margin-top: 0;
        padding-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .meta--categories {
        margin-top: 0.6rem;
    }
}


// 
// Header One-Off Adjustments
// 

// Lubricant
.single-lubricant .section--header {

    .page__image {
        position: relative; 
    }

    .page__image .simplefavorite-button {
        position: absolute;
        z-index: 200;
        top: 0.5rem;
        right: 0.5rem;
    }  
}

// 404
body.error404 .section--header {}

// Subscribe & Win
body.page-id-805 .section--header {
    div.wpforms-container-full {
        margin-bottom: 0 !important;
        padding-top: 1rem;
    }
}

// Single offer
body.single-offer .section--header {
    .button--offer {
        margin: 0.5rem 0 1rem 0;
    }   
}

// Subscribe & Win
.page-id-805 {
    .page__title-wrap {
        max-width: $max-width;
    }
}
