//
// .section Classes
// 
article {
    section.section {
        div.section__inner {
            div.section__title {}
            div.section__subtitle {}
            div.section__description {}
            div.section__content {}
            div.section__file {}
            div.section__filters {}
            div.section__gist {}
            div.section__table {}
            div.section__iframe {}
            div.section__mp4 {}
            figure.section__image {}
            // gallery?
        }
    }
    section.section.section--wide {}
    section.section.section--full {}

    section.section.section--header {}
    section.section.section--main {}
    section.section.section--footer {}  
    section.section.section--comments {}

    section.section.section--cards {}

}

// 
// Backgroud Extend
// 

%section_content {
    max-width: 100%;
    margin: 0.5rem auto 1rem auto;    
    padding: 0.62rem 0.5rem;  
    background: $bg__content;
    border: $border__content;
    > p:first-child {
        margin-top: 0;
        padding-top: 0;
    }
    > p:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

// 
// Section Widths
// 

.section {
    min-height: 280px;
    padding: 1rem 0.5rem;
} // 

.section:not(.section--wide) {
    .section__inner {
        max-width: $max-width;
        margin: auto;     
    }
} //

.section.section--wide {
    .section__inner {
        max-width: 100%;  
        width: fit-content; 
        margin: auto;            
    }
} //


// 
// Section Base
//

.section {

    .section__title {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .section__subtitle {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .section__description {
        max-width: 100%;
        margin: 0.6rem auto 0 auto;
        > p:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        > p:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    } //

    .section__content {
        @extend %section_content;
    } //

    .section__file {
        @extend %section_content;
        a {
            @include condensed-700;
            @include font-size(1.25);
            display: flex;
            align-items: center;
        }
        img {
            height: 1em;
            margin-right: 0.25em;
        }
        p {
            @include condensed-400;
            margin: 0 0 0 1rem;
        }
    }

    .envira-gallery-wrap {
        padding-top: 0.5rem;
    }


} // 

article .section:not(.section--header):last-of-type {
    padding-bottom: 3rem;
}

// 
// No Content
// 

.section--none {
    .big {
        text-align: center;
    }
}


// 
// Archive Filters
// 

.section__filters .section__grid {
    display: grid; 
    grid-template-columns: 1fr 1fr max-content;
    grid-gap: 0.6rem;
    align-items: end;
    margin:  2rem 0 1rem 0;
}


// 
// Section Iframe
// 
.section__iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        vertical-align: middle;
    }
}


// 
// Section Image / GIF
// 
.section__giphy {
    margin: 0.6rem auto 1rem auto; 
}

.section__image img {
    width: 100%;
}


// 
// Section HTML5 Video
//
 .section__mp4 video {}



// 
// Amazon Product Sections
// 

.section--amazon {
    min-height: auto;
}

div#amzn-native-ad-1 .amzn-native-header {
    margin-bottom: 0 !important;
}

span.amzn-native-header-text {
    display: none;
}

// 
// Card Sections
// 

section.sextion.sextion--cards {
    .section__inner {}
        .section__title {}
        .section__subtitle {}
        .section__description {}
        .section__grid {}
}


.section--cards .section__grid {
	display: grid;
	grid-template-columns: 1fr;
    grid-gap: 1.62rem;
    margin: 0.6rem auto 1rem auto;
} // 



// 
// Block Section Grids
// 

.section--blocks {
    padding-top: 2rem;
    padding-bottom: 1rem;

    .section__title {
        text-align: center;
    }

    .section__grid {
        display: grid;
        grid-gap: 1rem;
        padding-top: 1rem;
    }

} //



// Popular + Recommended
@media screen and (min-width: 720px) {
    .section--blocks.section--recommended .section__grid,
    .section--blocks.section--popular .section__grid {
        grid-template-columns: 1fr 1fr;
    }
}

// Formulas
.section--blocks.section--formulas .section__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
} 

// Brands
.section--blocks.section--brands .section__grid {
    grid-template-columns: repeat(auto-fill, 200px);
    grid-column-gap: 1.6rem;
    grid-row-gap: 2rem;
    justify-content: center; 
}

@media screen and (max-width: 50px) {
    .section--blocks.section--brands .section__grid {
    grid-template-columns: repeat(auto-fill, 300px);
    }
} 


// 
// Section One-Off Adjustments
//

// Favorites
.no-favorites {
    @extend %big;
    text-align: center;
}

