// 
// Search and Search Results pages
// 
// @this /sass/layouts/_page.search.scss
// @requirs /sass/layouts/_page.scss
// @requires /sass/layouts/_page.archive.scss
// @requires /sass/components/_card.scss
// 

// 
// Archive .section Classes
// 

body.serach {}

.search {
    .page__header {}
    .archive__section--lubes {}
    .archive__section--offers {}
    .archive__section--posts {}
    .archive__section--pages {}
    .archive__section--loves {}
    .archive__section--amazon {}
    .page__footer {}
}


// 
// Archive Customizations
// 

.search { 
    .page__title {
        text-align: center;
    }
    .page__subtitle {
        text-align: center;
        color: $color__true;
    }
    // no results
    .page__summary {
        text-align: center;
    }
}

