// 
// Comments Section
// 

#comments {}
.section--comments {}
    .section__inner
        .section__title {}
        .comments__list {}     
        .comments__message {}
        .comments__form {}


// 
// Single Comment
// 

div.comment {}
    div.comment__header {}
        span.comment__vcard {}
            span.comment__avatar {}
                img.avatar {}
            cite.comment__author {}
        a.comment__link {}
    div.comment__main {}
        div.comment__links {}
            a.comment-reply-link {}
            a.comment-edit-link {}    
    div.comment__moderation {}

// 
// Reply Area
// 

#reply {}
.reply {}

h2#reply-title {}
h2.reply__title {}

#reply-form {}
.reply__form {}

div.reply__body {
    label {}
    textarea#comment {}
}

div.reply__author {
    label {}
    input#author {}
}

div.reply__email {
    label {}
    input#email {}
}

div.reply__url {
    label {}
    input#url {}
}

div.reply__cookies {
    input#wp-comment-cookies-consent {}
    label {}    
}

div.reply__submit {
    input#reply-submit {}
    input.submit {} 
}

div.reply__message {}



//
// Comments Section Styles
// 

#comments .section__title {
    margin-bottom: 2rem;
}

// 
// Single Comment Styles
// 

.comment {
    @include font-size(0.8);
    margin-bottom: 2rem;
}

.comment__header,
.comment__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__avatar {
    margin-right: 0.5rem;
}

.avatar {
    border-radius: 100%;
}

.comment__main,
.comment__moderation {
    margin-left: 2.5rem;
    padding: 0.5rem;
    background: $bg__content;
    border: $border__content;
}

.comment__main {
    p:first-of-type {
        margin-top: 0;
        padding-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.comment__links a {
    margin-top: 0.5rem;
}

.comment__moderation {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $color__true;
}

.comment .comment {
    margin-left: 2.5rem;
    margin-top: 1rem;
}

//
// Reply Form Styles
// 

.reply__message {
    margin: 0.5rem 0;
    padding: 0.5rem;
    @include font-size(0.8);
    background: $bg__content;
    border: $border__content;   
}

#author, 
#email {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .reply__author,
    .reply__email {
        display: inline-block;
        width: calc(50% - 0.5rem);
    }
    .reply__author {
        margin-right: 1rem;
    }   
    .reply__email {
        float: right;
    }
}

.reply__cookies {
    display: flex;
    align-items: center;

    #wp-comment-cookies-consent {
        width: 1.5em;
        height: 1.5em;
    }
    label {
        padding-left: 0.5em;
    }    
}

.reply__submit {
    padding: 1rem 0 2rem 0;
}

