// 
// Page Header Classes
// 

// Headers with BG images
body.home .section--header,
body.page .section--header,
body.archive .section--header,
body.search .section--header,
body.error404 .section--header {
    div.page__bg-image {} // attached here
        div.page__title-wrap {}
    div.page__share {}
    div.section__inner {}
        div.page__summary {}
} // 

// Post
body.single-post .section--header {
    .section__inner {}
        .page__meta {}
        .page__title-wrap {}
        .page__image {}
        .page__share {}
        .page__summary {}
}

// Lubricant
body.single-lubricant .section--header {
    .section__inner {}
        .page__meta {}
        .page__title-wrap {}
        .page__image {}
        .page__share {}
        .page__summary {}
}

// Offer
body.single-offer .section--header {
    .page__meta {}
    .page__title-wrap {}
    .page__summary {} 
    .section__buy {}    
    .page__share {}
}


// 
// Headers with BG Images
// 
body.home .section--header,
body.page .section--header,
body.archive .section--header,
body.search .section--header,
body.error404 .section--header {

    // prevent margin collapse
    padding-bottom: 1px; 

    // image attached here via php
    .page__bg-image {
        width: 100%;
        min-height: 300px;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas: 
            '. . .'
            '. title-wrap .'
            '. . . ';
    } // 
      
    // Background image - inline in php
    // .page__bg-image {
    //     background-attachment: fixed;
    //     background-position: center center;
    //     background-size: cover;           
    // }

    .page__title-wrap {
        grid-area: title-wrap; 
        max-width: $max-width;
        text-align: center;
        background: $bg__content;
        padding: 1rem 0.5rem;
    }

    @media screen and (min-width: 721px) {
        .page__title    { @include font-size(2.28);  }
        .page__subtitle { @include font-size(1.424); }
    }

    .page__summary {
        max-width: $max-width;
        margin: 0.6rem auto 1.5rem auto; 
    }

    @media screen and (max-width: $max-width) {
        .page__summary {
            max-width: 100%;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }

} // 



// 
// Headers with on-page images
// 

body.single-post .section--header,
body.single-lubricant .section--header,
body.single-offer .section--header {

    padding: 1.62rem 0.5rem;
    .section__inner {
        max-width: $max-width;
        margin: auto;          
    }


    .page__title-wrap {
        padding: 1rem 0 0.5rem 0;
    }

    .page__image {
        position: relative; 
        .simplefavorite-button {
            position: absolute;
            z-index: 200;
            top: 0.5rem;
            right: 0.5rem;
        } 
    }

    .page__image img {
        object-fit: cover;
        width: 100%;
    }

    .page__summary {
        max-width: $max-width;
        margin: 0.6rem auto 1rem auto;   
    }

} // 


// 
// Shared Header Styles
// 

.section--header {
    margin: 0;
}

.page__meta {
    display: flex;
    justify-content: space-between;
}

.page__title-wrap {}

.page__title {
    @include condensed-700;
    @include font-size(1.6);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.page__subtitle {
    @include condensed-400;
    @include font-size(1.125);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.page__summary {
    border: $border__content;
    background: $bg__content; 
    padding: 1rem 0.5rem;  

    p:first-of-type {
        margin-top: 0;
        padding-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
    }
} //

.page__share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100vw - 2rem);
    margin: 0.6rem auto;
}


// 
// Header One-Off Adjustments
// 

// Home 
body.home .section--header {
    nav { padding-top: 1rem; }
    #menu-hero { justify-content: center; }
}

// 404
body.error404 .section--header {
    .page__bg-image { min-height: 100vh; }
}

// Subscribe & Win
body.page-id-805 .section--header {
    div.wpforms-container-full {
        margin-bottom: 0 !important;
        padding-top: 1rem;
    }
}

// Single offer
body.single-offer .section--header .button--offer {
    margin: 0 0 1rem 0;
}

// Blog Post
body.single-post .section--header {
    .list {
        @include font-size(0.79);
        margin-top: 1em;
    }
}


//
// Brand Landing Page Header
// 


.section--brand .section__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'b-img'
        'b-title'
        'b-company'
        'b-follow';

    img { 
        grid-area: b-img; 
        justify-self: center;
    }
    .brand__title-wrap {
        grid-area: b-title;
    }
    .brand__company { 
        grid-area: b-company; 
        @include font-size(0.79);
    }
    .follow--brand  { 
        grid-area: b-follow; 
        flex-wrap: wrap;
        margin-top: 1rem;
    }

} //


@media screen and (min-width: 600px) {
    .section--brand .section__grid {
        grid-template-columns: max-content 1fr;
        grid-column-gap: 0.5rem;
        grid-template-areas: 
            'b-img b-title'
            'b-img b-company'
            'b-follow b-follow'; 
    }
}

