// 
// Zotaro
// 

// Research page
.page-id-568 .sextion--zotaro {
    min-height: 100vh;
}

#zp-Browse-Bar {}

#zp-Zotpress-SearchBox-Input {
    font-size: 1rem;
    padding: 0.15em 0.35em;
    margin: 0;
}


.zp-List {}

.zp-Entry {
    font-size: 0.79rem;
}

.csl-bib-body {
    margin-bottom: 0.6rem;
}

#zpSearchResultsPagingContainer {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 !important; 
}

#zpSearchResultsPagingContainer span.title {
    float: none !important;
    margin: 0 !important;    
    padding: 0 !important;   
    line-height: 1 !important; 
}   

#zpSearchResultsPagingCrop {
    position: relative;
    overflow: visible !important;
    width: auto !important;
    height: auto !important;
}

#zpSearchResultsPaging {
    position: inherit !important;
}

#zpSearchResultsPaging a {
    display: inline;
    float: none;
    margin: 0;    
    padding: 0;    
    border: none;
    text-decoration: none;
    &.selected {
        border: 0;
        margin: 0;        
    }
}

