// 
// Site IDs and Classes
// 

#site {}
#header {}
#main {}
#footer {}

.site {
	&__header {}
	&__main {}
	&__footer {}
} // .site

header.site__header {
	div.branding {}
	#nav-main {}
	#nav-favorites {}
	> .follow {} // target first because ...
	#mobile {} // ... alos has .follow
}


// 
// Header Layout Grids
// 

// Shared
#header {

	display: grid;	
	grid-column-gap: 1rem;
	align-items: center;
	align-content: center;
	// Stop header resize so StickyHeader works
	padding: 0.5rem;

	.branding      { grid-area: h-branding; justify-self: start; }
	#nav-main      { grid-area: h-main; @include font-size(1);}
	#nav-favorites { grid-area: h-fav; }
	> .follow      { grid-area: h-follow; justify-self: end; }		
	#mobile        { grid-area: h-mobile; justify-self: end; }

} //

// Small Screens
@media screen and (max-width: 719px) {
	#header {
		display: grid;
		grid-template-columns: max-content 1fr max-content;	
		grid-template-areas: 'h-branding h-fav h-mobile';

		#nav-main  { display: none; }	
		#nav-favorites { justify-self: end; }
		> .follow  { display: none; }	
	}
} // @media


// Medium Screens
@media screen and (min-width: 720px) {
	#header {
		display: grid;
		grid-template-columns: max-content 1fr max-content max-content;
		grid-row-gap: 0.6rem;
		grid-template-areas: 'h-branding h-fav h-follow h-mobile' 'h-main h-main h-main h-main';

		#nav-favorites { justify-self: end; }
		#nav-main  { justify-self: start; }	
	}
} // @media


// Big Screens
@media screen and (min-width: 940px) {
	#header {
		display: grid;
		grid-template-columns: max-content auto auto max-content max-content;
		grid-template-areas: 'h-branding h-main h-fav h-follow h-mobile';

		#nav-favorites { justify-self: start; }
		#nav-main  { justify-self: end; }		
	
	}
} // @media


// 
// Header Styles
// 

.site__header {
	color: $color__text;
	background: $bg__header;
	border-bottom: $border__content;
}

.branding__link {

	color: #ffffff;
	&:hover, &:active, &:focus {
		color: $color__alt;
	}
	&:active, &:focus {
		outline-color:  $color__alt;
	}

}


// 
// #footer
// 

footer#footer {}

footer.site__footer {
	form.search-form {}
	nav.follow {}
	div.site__copyright {}
}


.site__footer {
	padding: 1.6rem 0.5rem;
	background: $bg__footer;
	border-top: $border__content;
	.search-form { padding: 1rem 0; }
}

.site__copyright { 
	text-align: center;
	.meta { padding: 0 0.5em;}
	margin: 1rem 0 2rem 0;
}

.site__disclaimers {
	max-width: 820px;
	margin: 0.62rem auto;
	text-align: center;
	@include font-size(0.79);
	@include condensed-400;
	color: $color__text-lt;

	a {
		color: $color__primary;
		&:hover, &:active, &:focus {
			color: $color__alt;
		}
	}
} // 


