// 
// Site IDs and Classes
// 

#site {}
#header {}
#main {}
#footer {}

.site {
	&__header {}
	&__main {}
	&__footer {}
} // .site


//
// Header IDs and Classes
// 

header#header-full {
	div.branding {}
	nav.follow {}
	div#nav-full {} // modal
		nav#nav-main {}
		form.search-form {}
}

header#header-mobile {
	div.branding {}	
	div#nav-mobile {} // modal
		nav#nav-main {}
		form.search-form {}
		nav.follow {}
}

header.site__header {}


// 
// Header Layout Grids
// 

// Shared
#header {
	display: grid;	
	grid-column-gap: 1rem;
	align-items: center;
	align-content: center;
	// Stop header resize so StickyHeader works
	padding: 0.5rem;
	.branding  { grid-area: h-branding; justify-self: start; }
	#nav-main  { grid-area: h-main; @include font-size(1);}
	> .follow  { grid-area: h-follow; justify-self: center; }		
	#mobile    { grid-area: h-mobile; justify-self: end; }
}

// Small Screens
@media screen and (max-width: 719px) {
	#header {
		display: grid;
		grid-template-columns: 1fr max-content;	
		grid-template-areas: 
			'h-branding h-mobile'
			'h-main h-main';
		// .branding  { margin: 0; }
		#nav-main  { justify-self: start; }	
		> .follow  { display: none; }	
	}
} // @media


// Medium Screens
@media screen and (min-width: 721px) {
	#header {
		display: grid;
		grid-template-columns: max-content 1fr max-content;
		grid-row-gap: 0.6rem;
		grid-template-areas: 
			'h-branding h-follow h-mobile'
			'h-main h-main h-main';

		// .branding  { margin: 0; }
		#nav-main  { justify-self: center; }
		#mobile [data-modal-content] .follow { display: none; }		
	}
} // @media


// Big Screens
@media screen and (min-width: 900px) {
	#header {
		display: grid;
		grid-template-columns: max-content 1fr 1fr max-content;

		grid-template-areas: 
			'h-branding h-main h-follow h-mobile';

		// .branding  { margin: 0.6rem 0; }
		// #nav-main  { }
		#mobile [data-modal-content] .follow { display: none; }		
	}
} // @media



// 
// Header Styles
// 

.site__header {
	color: $color__white;
	background: $color__black;
	border-bottom: $border__content;
	a, button {
		text-decoration: none;
		color: $color__white;
		&:hover,
		&:active,
		&:focus {
			color: $color__link-h
		} 		
	}
}


// 
// #footer
// 

footer#footer {}
footer.site__footer {
	form.search-form {}
	nav.follow {}
	div.site__copyright {}
}


.site__footer {
	padding: 1.6rem 0.5rem;
	background: #000000;
	border-top: $border__content;

	.follow { @include font-size(2); }
	.search-form { padding: 1rem 0; }
}

.site__copyright { 
	text-align: center;
	.meta { padding: 0 0.5em;}
}


.site__footer-menus {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
	justify-content: center;
}

.grecaptcha-badge {
	z-index: 20;
}
